body, html {
	padding: 0;
	margin: 0;
}

body {
	font-family: "proxima-nova-soft", sans-serif;
	background: url('../img/background.png');
	color: #eee;
}

#layout {
	width: 960px;
	margin: 0 auto;
}

#top {
	padding-top: 10px;
}

h1 {
	display: block;
	width: 396px;
	height: 82px;
	margin: 0 auto;
	background: transparent url('../img/logo.png') no-repeat left top;
	text-indent: -9999px;
}